/* common css  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  overflow-x: hidden;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
/* common css  */

/* navbar css start  */
.navbar {
  background-color: rgba(22, 12, 109, 0.5);
  padding: 18px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-size: 18px;
  color: #eff4fa;
  font-weight: 600;
  margin-left: 33px;
  margin-right: 33px;
  text-transform: capitalize;
  font-family: "Open Sans", serif;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #1bbf00;
}
.navbar button {
  padding: 14px 28px;
  border-radius: 100px;
  background-color: #1bbf00;
  color: #eff4fa;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #1bbf00;
  font-family: "Open Sans", serif;
  transition: 0.3s;
}
.navbar button:hover {
  background-color: transparent;
  border: 1px solid #1bbf00;
}
/* navbar css end  */

/* banner css start  */
#banner {
  background: url(../img/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 246px;
  padding-bottom: 254px;
  position: relative;
  z-index: 1;
}
#banner .dot1 {
  position: absolute;
  margin-top: 58px;
  margin-left: 31px;
}
#banner .dot2 {
  bottom: 0;
  right: 0;
  position: absolute;
  margin-bottom: 73px;
  margin-right: 310px;
}
#banner::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(107, 99, 197, 0.9);
  z-index: -2;
}
#banner .banner-details h1 {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 84px;
  text-transform: capitalize;
  color: #eff4fa;
  line-height: 100px;
}
#banner .banner-details p {
  font-family: "Paprika", serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: capitalize;
  color: #e6e5f3;
  width: 715px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 16px;
  line-height: 40px;
}
#banner .banner-details button {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 40px;
  background: #1bbf00;
  color: #ffffff;
  border: 1px solid #1bbf00;
  border-radius: 100px;
  text-transform: capitalize;
  transition: 0.3s;
  margin-left: 14px;
  margin-right: 14px;
}
#banner .banner-details button:hover {
  background: transparent;
  border: 1px solid #1bbf00;
  color: #ffffff;
}
/* banner css end  */

/* counter section start  */
#counter {
  padding: 283px 0;
  position: relative;
  background-color: #f9f9fb;
  z-index: -2;
}
#counter .counter-shape img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
#counter h1 {
  font-family: "Open Sans", serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 68px;
  color: #1bbf00;
  margin-bottom: 24px;
}
#counter h2 {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #141135;
  text-transform: capitalize;
}
#counter .counter-border {
  position: relative;
}
#counter .counter-border::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 111px;
  background-color: rgba(79, 88, 95, 0.2);
}
/* counter section end  */

/* choose us section start   */
#choose {
  position: relative;
  background-color: #fdfdfd;
  z-index: 1;
}
#choose .choose-shape img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#choose .left {
  align-content: center;
  height: 618px;
}
#choose .left p {
  font-family: "Paprika", serif;
  font-size: 18px;
  line-height: 30px;
  color: #726e9e;
  position: relative;
  padding: 5px 120px 5px 103px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#choose .left p:hover {
  box-shadow: 10px 30px 60px rgba(162, 169, 192, 0.25);
  border-radius: 12px;
  padding: 42px 105px 42px 103px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
#choose .left p::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 43px;
  height: 25px;
  width: 25px;
  background-color: #1bbf00;
  border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#choose .left p::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 55px;
  height: 25px;
  width: 25px;
  background-color: #cbc8f0;
  border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#choose .left p:hover::before {
  top: 47px;
}
#choose .left p:hover::after {
  top: 47px;
}
#choose .right {
  align-content: center;
}
#choose .right h1 {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 48px;
  color: #141135;
  text-transform: capitalize;
  margin-bottom: 9px;
  line-height: 65px;
}
#choose .right p {
  font-family: "Paprika", serif;
  font-size: 18px;
  line-height: 30px;
  color: #726e9e;
  text-transform: capitalize;
}
#choose .right button {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 40px;
  background: #1bbf00;
  color: #ffffff;
  border: 1px solid #1bbf00;
  border-radius: 100px;
  text-transform: capitalize;
  transition: 0.3s;
  margin-top: 41px;
}
#choose .right button:hover {
  background: transparent;
  border: 1px solid #1bbf00;
  color: #1bbf00;
}
/* choose us section start   */

/* read-more section start  */
#read-more {
  padding: 100px 0;
  background-color: #f6f5ff;
}
#read-more .we-do h1 {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #141135;
}
#read-more .we-do p {
  font-family: "Open Sans", serif;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: #6c7d93;
  margin-top: 20px;
  margin-bottom: 56px;
}
#read-more .we-do button {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 40px;
  background: #1bbf00;
  color: #ffffff;
  border: 1px solid #1bbf00;
  border-radius: 100px;
  text-transform: capitalize;
  transition: 0.3s;
}
#read-more .we-do button:hover {
  background: transparent;
  border: 1px solid #1bbf00;
  color: #1bbf00;
}
#read-more .read-more-details {
  box-shadow: 0 30px 60px 0 rgba(162, 169, 192, 0.1);
  background-color: #ffffff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 48px 46px 49px 46px;
  margin-bottom: 35px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#read-more .read-more-details:hover {
  background-color: #6b62c5;
}
#read-more .read-more-details h1 {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #141135;
  margin-top: 32px;
  margin-bottom: 1px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#read-more .read-more-details:hover h1 {
  color: #fafafe;
}
#read-more .read-more-details p {
  font-family: "Paprika", serif;
  font-size: 18px;
  line-height: 30px;
  color: #726e9e;
  margin-bottom: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#read-more .read-more-details:hover p {
  color: #e6e5f3;
}
#read-more .read-more-details button {
  font-family: "Open Sans", serif;
  padding: 8px 10px;
  border: transparent;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 24px;
  color: #141135;
  margin-top: 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#read-more .read-more-details:hover button {
  color: #ffffff;
  background-color: transparent;
}
#read-more .read-more-details button::after {
  content: "";
  position: absolute;
  background-color: rgba(25, 191, 0, 0.3);
  width: 25px;
  height: 40px;
  margin-top: -8px;
  margin-left: -15px;
  border-radius: 0 100px 100px 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#read-more .read-more-details button:hover::after {
  width: 108px;
  margin-left: -98px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
#read-more .read-more-details:hover button::after {
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
}
/* read-more section end  */

/* impact section start  */
#impact {
  padding: 100px 0;
  position: relative;
}
#impact .impact-shape {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}
#impact .analysis,
.research {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
#impact .details h1 {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #141135;
  margin-bottom: 23px;
  text-align: center;
}
#impact .details p {
  font-family: "Paprika", serif;
  font-size: 18px;
  line-height: 30px;
  color: #726e9e;
  width: 558px;
  text-align: center;
  margin: 0 auto;
}
#impact .left h2 {
  font-family: "Open Sans", serif;
  font-size: 30px;
  font-weight: 700;
  color: #141135;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
#impact .left p {
  font-family: "Paprika", serif;
  font-size: 18px;
  line-height: 30px;
  color: #726e9e;
  width: auto;
}
#impact .left .text {
  margin-left: 35px;
}
#impact .left img {
  height: 65px;
  width: 65px;
}
/* impact section end */

/* plan section start  */
#plan {
  padding: 100px 0;
  background-color: #f9f9fb;
}
#plan h1 {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #141135;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 64px;
}
#plan .basic,
.professional,
.exclusive {
  padding: 60px 0;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 30px 60px 0 rgba(162, 169, 192, 0.15);
  transition: 0.5s;
}
#plan .basic:hover,
.professional:hover,
.exclusive:hover {
  background-color: #6b62c5;
  border-radius: 20px;
}
#plan .basic:hover p,
#plan .professional:hover p,
#plan .exclusive:hover p {
  color: #ffffff;
}
#plan .basic:hover h2,
#plan .professional:hover h2,
#plan .exclusive:hover h2 {
  color: #ffffff;
}
#plan img {
  background-color: rgba(236, 237, 240, 0.5);
  height: 192px;
}
#plan h2 {
  margin-bottom: 22px;
  font-family: "Open Sans", serif;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #141135;
  text-align: center;
  transition: 0.5s;
}
#plan h6 {
  font-size: 48px;
  font-weight: 800;
  font-family: "Nunito", serif;
  color: #1bbf00;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
}
#plan p {
  font-family: "Paprika", serif;
  font-size: 18px;
  line-height: 32px;
  color: #726e9e;
  margin: 0 auto;
  text-align: center;
  margin-top: 12px;
  transition: 0.5s;
  width: 265px;
}
/* plan section end */

/* slider section start  */
#slider {
  padding: 100px 0;
  background-color: #f8f8ff;
}
#slider .carousel-item {
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 30px 50px 0 rgba(171, 175, 199, 0.3);
}
#slider h1 {
  margin-bottom: 150px;
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #141135;
  text-align: center;
}
#slider img {
  display: block;
  margin: -75px auto 45px;
  border-radius: 50%;
}
#slider .slider-details {
  position: relative;
}
#slider .carousel-inner {
  /* box-shadow: 0 30px 50px 0 rgba(171, 175, 199, 0.3); */
  border-radius: 20px;
  overflow: visible;
  /* overflow: hidden; */
}
#slider .carousel-item i {
  color: #ff7628;
}
#slider .carousel-item p {
  text-align: center;
  font-family: "Paprika", serif;
  font-size: 24px;
  line-height: 40px;
  color: #726e9e;
  margin-top: 33px;
  margin-bottom: 48px;
  padding: 0 100px;
}
#slider .carousel-item h6 {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  color: #221a2c;
  margin-bottom: 4px;
}
#slider .carousel-item h5 {
  font-family: "Paprika", serif;
  font-size: 16px;
  line-height: 25px;
  color: #726e9e;
  margin-bottom: 56px;
}
#slider .carousel-control-prev-icon {
  background-color: #1bbf00;
  border-radius: 50%;
}
#slider .carousel-control-next-icon {
  background-color: #1bbf00;
  border-radius: 50%;
}
.carousel-control-next {
  right: -60px;
}
.carousel-control-prev {
  left: -60px;
}
.carousel-control-next,
.carousel-control-prev {
  height: 50px;
  width: 50px;
  background-color: #1bbf00;
  border-radius: 50%;
  transform: translateY(-50%);
  top: 50%;
}
/* slider section end */

/* also section start  */
#also {
  padding: 100px 0;
  background: #f9f9fb;
  position: relative;
  z-index: 1;
}
#also .also-shape {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  margin-bottom: 0;
}
#also h1 {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: -2px;
  color: #030314;
  margin-bottom: 65px;
}
#also h6 {
  font-family: "Quicksand", serif;
  text-transform: capitalize;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #726e9e;
  display: inline;
}
#also h6:hover {
  color: #1bbf00;
}
#also h3 {
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 50px;
  letter-spacing: -1.5px;
  color: #141135;
}
#also button {
  font-family: "Open Sans", serif;
  padding: 8px 10px;
  border: transparent;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 24px;
  color: #141135;
  font-size: 16px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#also button::after {
  content: "";
  position: absolute;
  background-color: rgba(25, 191, 0, 0.3);
  width: 25px;
  height: 40px;
  margin-top: -8px;
  margin-left: -15px;
  border-radius: 0 100px 100px 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#also button:hover::after {
  width: 108px;
  margin-left: -98px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
/* also section end */

/* footer section start  */
#footer {
  padding-top: 140px;
  padding-bottom: 56px;
  background-color: #48409c;
}
#footer img {
  margin-bottom: 45px;
}
#footer .top p {
  font-family: "Nunito", serif;
  font-size: 18px;
  color: #fefefe;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 180%;
  padding-right: 45px;
  margin-bottom: 190px;
}
#footer .top .footer-heading {
  font-family: "Open Sans", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  color: #fefefe;
  text-transform: capitalize;
  margin-bottom: 40px;
}
#footer .top li a {
  font-family: "Nunito", serif;
  font-weight: 500;
  font-size: 20px;
  color: #fefefe;
  text-transform: capitalize;
  margin-bottom: 30px;
}
#footer .bottom p {
  font-family: "Nunito", serif;
  font-size: 18px;
  line-height: 180%;
  color: #fefefe;
  text-transform: capitalize;
}
#footer .bottom a {
  font-family: "Nunito", serif;
  font-size: 18px;
  line-height: 180%;
  /* color: #fefefe; */
  color: red;
  text-transform: capitalize;
}
/* footer section start  */
